@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.imgslide {
    width: 600px;
    height: 400px;
    background-color: #eee;
    margin: 0 auto;
    position: relative;
}
.img_wrap {
    overflow: hidden;
}
.slider {
    position: relative;
}
.slider li {
    float: left;
}
.slider li img {
    vertical-align: top;
}
a {
    text-decoration: none;
    font-size: 25px;
    color: #bbb;
    z-index: 1000;
}
.prev {
    position: absolute;
    top: 50%;
    left: 10px;
}
.next {
    position: absolute;
    top: 50%;
    right: 10px;
}